package home

import "dashboard/src/view/layout"

templ Main() {
	@layout.Base() {
		<div
			hx-target="this"
			hx-swap="outerHTML"
			class=" w-full p-4"
			id="home"
		>
			@Home()
		</div>
	}
}

templ Home() {
	<h1 class="font-bold">Home Page </h1>
}
