package home

import "dashboard/src/view/layout"

templ Home() {
	@layout.Base("/") {
		<div
			hx-target="this"
			hx-swap="outerHTML"
			class=" w-full p-4"
			id="home"
		>
			<h1 class="font-bold">Home Page </h1>
		</div>
	}
}
